<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
</head>
<body>
   <form action="/admin/update-appointment" method="POST">
    
    <label>Title:</label>
    <input type="text" name="appointments_title"> <label>Paragraph:</label>
    <textarea name="appointments_paragarph"></textarea>

    <label>Sub-Paragraph:</label>
    <input type="text" name="appointments_subparagarph">

    <button type="submit">Update Data</button>
</form>
</body>
</html>